body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logoImg{
  width: 80% !important;
  margin: auto;
  height: calc(100vh - 200px);
  border-radius: 0px !important;
}

.App header {
  background-color: #24242C;
  font-size: 20px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

header p{
  margin: 0;
}

.App section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
  background-color: #24242C;
}

main {
  padding: 10px;
  height: calc(100vh - 180px);
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: dodgerblue;
}

form {
  position: fixed;
  bottom: 0;
  min-width: calc(100% - 359px);
  width: calc(100vw - 359px);
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 10px;
  margin: auto;
}

form button {
  width: 20%;
  background-color: darkcyan;
}

input {
  line-height: 1.5;
  width: calc(100vw - 110px);
  min-width: 200px;
  font-size: 1rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 20px;
  border-radius: 50px;
}

button {
  background-color: darkcyan; /* Green */
  border: none;
  max-width: 230px;
  min-width: 50px;
  margin-left: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 50px;
}

button:focus{
  outline: 0;
}

.signInBtn{
  margin: auto;
}

.sendBtn{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  text-align: center;
}

button:hover{
  background-color: rgb(0, 167, 167);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}


@media only screen and (max-width: 1200px) {
  form{
    width: calc(100% - 20px);
  }
}