body {
  background-color: 	#23272a;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.logoImg{
  width: 80% !important;
  max-width: 600px;
  margin: auto;
  height: calc(100vh - 153px);
  border-radius: 0px !important;
}

.App header {
  background-color: #2c2f33;
  font-size: 20px;
  color: white;
  position: relative;
  width: 100vw;
  max-width: inherit;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

header p{
  margin: 0;
}

.App section {
  display: grid;
  grid-template-rows: 1fr 70px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  background-color: #24242C;
}

main {
  padding: 0px 10px;
  position: relative;
  top: 0px;
  bottom: 0px;
  height: calc(100vh - 131px);
  max-width: 1200px;
  overflow-y: scroll;
  background-color: #1e1e24;
}

main::-webkit-scrollbar {
  width: 2px;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: dodgerblue;
}

form {
  position: relative;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #2c2f33;
  max-width: 1200px !important;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 10px 0px;
  margin: auto;
}

form button {
  width: 20%;
  background-color: #097eb5;
}

input {
  width: calc(100% - 70px);
  min-width: 160px;
  font-size: 0.8rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 20px;
  border-radius: 50px;
  margin: 0 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

button {
  background-color: #097eb5; 
  border: none;
  max-width: 230px;
  min-width: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 50px;
}

button:focus{
  outline: 0;
}

.signInBtn{
  margin: auto;
}

.SignOutBtn{
  min-width: 0;
  border-radius: 100%;
  padding: 0.2rem;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SignOutBtn:hover{
  background-color: crimson;
}

.sendBtn{
  border-radius: 50%;
  font-size: 22px;
  width: 50px;
  height: 50px;
  padding: 0.5rem 0.5rem 0.3rem 0.3rem;
  text-align: center;
  margin: 0 10px;
}

button:hover{
  background-color: rgb(0, 167, 167);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  word-break: break-all;
  word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.message p{
  max-width: 70%;
  font-size: 13px;
  text-align: left;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #097eb5;
  align-self: flex-end;
}
.received p {
  background: #d6035e;
  color: #FFF;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}